micasex.dtd

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Gemma Lum (University of Michigan) -->
<!-- MICASE DTD, based loosely on the TEI, with a local extension for OVERLAP. -->
<!-- xmlified by LB -->
<!ELEMENT TEI.2 (TEIHEADER, TEXT)>
<!ATTLIST TEI.2
	N CDATA #IMPLIED
	ID CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "TEI.2"
>
<!ELEMENT TEICORPUS.2 (TEIHEADER, TEI.2+)>
<!ATTLIST TEICORPUS.2
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "TEICORPUS.2"
>
<!ELEMENT TEIHEADER (FILEDESC, PROFILEDESC)>
<!ATTLIST TEIHEADER
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TYPE CDATA "TEXT"
	CREATOR CDATA #IMPLIED
	STATUS (NEW | UPDATE) "NEW"
	DATE.CREATED CDATA #IMPLIED
	DATE.UPDATED CDATA #IMPLIED
	TEIFORM CDATA "TEIHEADER"
>
<!ELEMENT FILEDESC (TITLESTMT, PUBLICATIONSTMT, SOURCEDESC+)>
<!ATTLIST FILEDESC
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "FILEDESC"
>
<!ELEMENT TITLESTMT (TITLE+, (RESPSTMT)*)>
<!ATTLIST TITLESTMT
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "TITLESTMT"
>
<!ELEMENT RESPSTMT (RESP | NAME)*>
<!ATTLIST RESPSTMT
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "RESPSTMT"
>
<!ELEMENT RESP (#PCDATA)>
<!ATTLIST RESP
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "RESP"
>
<!ELEMENT PUBLICATIONSTMT (P+ | (PUBLISHER | DISTRIBUTOR | AUTHORITY | PUBPLACE | ADDRESS | IDNO | AVAILABILITY | DATE)+)>
<!ATTLIST PUBLICATIONSTMT
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "PUBLICATIONSTMT"
>
<!ELEMENT PUBLISHER (#PCDATA)>
<!ATTLIST PUBLISHER
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "PUBLISHER"
>
<!ELEMENT PUBPLACE (#PCDATA)>
<!ATTLIST PUBPLACE
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "PUBPLACE"
>
<!ELEMENT DISTRIBUTOR (#PCDATA)>
<!ATTLIST DISTRIBUTOR
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "DISTRIBUTOR"
>
<!ELEMENT AUTHORITY (#PCDATA)>
<!ATTLIST AUTHORITY
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "AUTHORITY"
>
<!ELEMENT IDNO (#PCDATA)>
<!ATTLIST IDNO
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TYPE CDATA #IMPLIED
	TEIFORM CDATA "IDNO"
>
<!ELEMENT AVAILABILITY (P)+>
<!ATTLIST AVAILABILITY
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	STATUS (FREE | UNKNOWN | RESTRICTED) #IMPLIED
	TEIFORM CDATA "AVAILABILITY"
>
<!ELEMENT SOURCEDESC (P | RECORDINGSTMT)+>
<!ATTLIST SOURCEDESC
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	DEFAULT (YES | NO) "NO"
	TEIFORM CDATA "SOURCEDESC"
>
<!ELEMENT RECORDINGSTMT (P+ | RECORDING+)>
<!ATTLIST RECORDINGSTMT
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "RECORDINGSTMT"
>
<!ELEMENT RECORDING (P+ | (RESPSTMT | EQUIPMENT | DATE)*)>
<!ATTLIST RECORDING
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	DEFAULT (YES | NO) "NO"
	TYPE (AUDIO | VIDEO) "AUDIO"
	DUR CDATA #IMPLIED
	TEIFORM CDATA "RECORDING"
>
<!ELEMENT EQUIPMENT (P)+>
<!ATTLIST EQUIPMENT
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	DEFAULT (YES | NO) "NO"
	TEIFORM CDATA "EQUIPMENT"
>
<!ELEMENT PROFILEDESC (CREATION?, LANGUSAGE*, PARTICDESC*, SETTINGDESC*)>
<!ATTLIST PROFILEDESC
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "PROFILEDESC"
>
<!ELEMENT CREATION (#PCDATA)>
<!ATTLIST CREATION
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "CREATION"
>
<!ELEMENT LANGUSAGE (P | LANGUAGE)+>
<!ATTLIST LANGUSAGE
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	DEFAULT (YES | NO) "NO"
	TEIFORM CDATA "LANGUSAGE"
>
<!ELEMENT LANGUAGE (#PCDATA)>
<!ATTLIST LANGUAGE
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	ID ID #IMPLIED
	WSD ENTITY #IMPLIED
	USAGE CDATA #IMPLIED
	TEIFORM CDATA "LANGUAGE"
>
<!ELEMENT PARTICDESC (P+ | ((PERSON | PERSONGRP)+, PARTICLINKS?))>
<!ATTLIST PARTICDESC
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	DEFAULT (YES | NO) "NO"
	TEIFORM CDATA "PARTICDESC"
>
<!ELEMENT PERSON ((AFFILIATION | BIRTH | EDUCATION | FIRSTLANG | LANGKNOWN | OCCUPATION | RESIDENCE | SOCECSTATUS)*)>
<!ATTLIST PERSON
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	ROLE CDATA #IMPLIED
	SEX (M | F | U) #IMPLIED
	AGE CDATA #IMPLIED
	RESTRICT (ALL | CITE | NONE) #IMPLIED
	TEIFORM CDATA "PERSON"
>
<!ELEMENT PERSONGRP (AFFILIATION | BIRTH | EDUCATION | FIRSTLANG | LANGKNOWN | OCCUPATION | RESIDENCE | SOCECSTATUS)*>
<!ATTLIST PERSONGRP
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	ROLE CDATA #IMPLIED
	SEX (M | F | U | X) #IMPLIED
	AGE CDATA #IMPLIED
	SIZE CDATA #IMPLIED
	TEIFORM CDATA "PERSONGRP"
>
<!ELEMENT BIRTH (#PCDATA)>
<!ATTLIST BIRTH
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	DATE CDATA #IMPLIED
	TEIFORM CDATA "BIRTH"
>
<!ELEMENT FIRSTLANG (#PCDATA)>
<!ATTLIST FIRSTLANG
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "FIRSTLANG"
>
<!ELEMENT LANGKNOWN (#PCDATA)>
<!ATTLIST LANGKNOWN
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "LANGKNOWN"
>
<!ELEMENT RESIDENCE (#PCDATA)>
<!ATTLIST RESIDENCE
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "RESIDENCE"
>
<!ELEMENT EDUCATION (#PCDATA)>
<!ATTLIST EDUCATION
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "EDUCATION"
>
<!ELEMENT AFFILIATION (#PCDATA)>
<!ATTLIST AFFILIATION
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "AFFILIATION"
>
<!ELEMENT OCCUPATION (#PCDATA)>
<!ATTLIST OCCUPATION
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	SCHEME IDREF #IMPLIED
	CODE IDREF #IMPLIED
	TEIFORM CDATA "OCCUPATION"
>
<!ELEMENT SOCECSTATUS (#PCDATA)>
<!ATTLIST SOCECSTATUS
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	SCHEME IDREF #IMPLIED
	CODE IDREF #IMPLIED
	TEIFORM CDATA "SOCECSTATUS"
>
<!ELEMENT PARTICLINKS (P+ | RELATION+)>
<!ATTLIST PARTICLINKS
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "PARTICLINKS"
>
<!ELEMENT RELATION EMPTY>
<!ATTLIST RELATION
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TYPE CDATA "PERSONAL"
	DESC CDATA #IMPLIED
	ACTIVE IDREFS #IMPLIED
	PASSIVE IDREFS #IMPLIED
	MUTUAL (Y | N) "Y"
	TEIFORM CDATA "RELATION"
>
<!ELEMENT SETTING (P+ | (NAME | TIME | LOCALE | ACTIVITY)*)>
<!ATTLIST SETTING
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	WHO IDREFS #IMPLIED
	TEIFORM CDATA "SETTING"
>
<!ELEMENT LOCALE (#PCDATA)>
<!ATTLIST LOCALE
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "LOCALE"
>
<!ELEMENT ACTIVITY (#PCDATA)>
<!ATTLIST ACTIVITY
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "ACTIVITY"
>
<!ELEMENT SETTINGDESC (P+ | SETTING+)>
<!ATTLIST SETTINGDESC
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	DEFAULT (YES | NO) "NO"
	TEIFORM CDATA "SETTINGDESC"
>
<!ELEMENT DATE (#PCDATA)>
<!ATTLIST DATE
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	CALENDAR CDATA #IMPLIED
	VALUE CDATA #IMPLIED
	CERTAINTY CDATA #IMPLIED
	TEIFORM CDATA "DATE"
>
<!ELEMENT TIME (#PCDATA)>
<!ATTLIST TIME
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	VALUE CDATA #IMPLIED
	TYPE (AM | PM | 24HOUR | DESCRIPTIVE) #IMPLIED
	ZONE CDATA #IMPLIED
	TEIFORM CDATA "TIME"
>
<!ELEMENT NAME (#PCDATA)>
<!ATTLIST NAME
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "NAME"
>
<!ELEMENT ADDRESS (#PCDATA)>
<!ATTLIST ADDRESS
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "ADDRESS"
>
<!ELEMENT ABBR (#PCDATA)>
<!ATTLIST ABBR
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	EXPAN CDATA #IMPLIED
	RESP IDREF #IMPLIED
	CERT CDATA #IMPLIED
	TYPE CDATA #IMPLIED
	TEIFORM CDATA "ABBR"
>
<!ELEMENT EXPAN (#PCDATA)>
<!ATTLIST EXPAN
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	ABBR CDATA #IMPLIED
	RESP IDREF #IMPLIED
	CERT CDATA #IMPLIED
	TYPE CDATA #IMPLIED
	TEIFORM CDATA "EXPAN"
>
<!ELEMENT SIC (#PCDATA)>
<!ATTLIST SIC
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	CORR CDATA #IMPLIED
	RESP IDREF #IMPLIED
	CERT CDATA #IMPLIED
	TEIFORM CDATA "SIC"
>
<!ELEMENT CORR (#PCDATA)>
<!ATTLIST CORR
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	SIC CDATA #IMPLIED
	RESP CDATA #IMPLIED
	CERT CDATA #IMPLIED
	TEIFORM CDATA "CORR"
>
<!ELEMENT UNCLEAR (#PCDATA)>
<!ATTLIST UNCLEAR
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	REASON CDATA #IMPLIED
	RESP CDATA #IMPLIED
	CERT CDATA #IMPLIED
	HAND IDREF #IMPLIED
	AGENT CDATA #IMPLIED
	TEIFORM CDATA "UNCLEAR"
>
<!ELEMENT SEG (#PCDATA)>
<!ATTLIST SEG
	ANA IDREFS #IMPLIED
	CORRESP IDREFS #IMPLIED
	NEXT IDREF #IMPLIED
	PREV IDREF #IMPLIED
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TYPE CDATA #IMPLIED
	FUNCTION CDATA #IMPLIED
	SUBTYPE CDATA #IMPLIED
	PART (Y | N | I | M | F) "N"
	TEIFORM CDATA "SEG"
>
<!ELEMENT FOREIGN (#PCDATA | SEG)*>
<!ATTLIST FOREIGN
	ID ID #IMPLIED
	N CDATA #IMPLIED
	REND CDATA #IMPLIED
	LANG IDREF #IMPLIED
	TEIFORM CDATA "FOREIGN"
>
<!ELEMENT OVERLAP (#PCDATA)>
<!ATTLIST OVERLAP
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "OVERLAP"
>
<!ELEMENT U (#PCDATA | ABBR | EXPAN | NAME | CORR | SIC | UNCLEAR | FOREIGN | HI | TITLE | OVERLAP | EVENT | PAUSE | SEG | SHIFT | U | WRITING | GAP)*>
<!ATTLIST U
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	START IDREF #IMPLIED
	END IDREF #IMPLIED
	DUR CDATA #IMPLIED
	TRANS (SMOOTH | LATCHING | OVERLAP | PAUSE) "SMOOTH"
	RESTRICT (ALL | CITE | NONE) #IMPLIED
	WHO IDREF #IMPLIED
	TEIFORM CDATA "U"
>
<!ELEMENT PAUSE EMPTY>
<!ATTLIST PAUSE
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	START IDREF #IMPLIED
	END IDREF #IMPLIED
	DUR CDATA #IMPLIED
	TYPE CDATA #IMPLIED
	WHO IDREF #IMPLIED
	TEIFORM CDATA "PAUSE"
>
<!ELEMENT GAP EMPTY>
<!ATTLIST GAP
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	DESC CDATA #IMPLIED
	REASON CDATA #IMPLIED
	RESP CDATA #IMPLIED
	AGENT CDATA #IMPLIED
	EXTENT IDREF #IMPLIED
	TEIFORM CDATA "GAP"
>
<!ELEMENT EVENT EMPTY>
<!ATTLIST EVENT
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	START IDREF #IMPLIED
	END IDREF #IMPLIED
	DUR CDATA #IMPLIED
	WHO IDREF #IMPLIED
	ITERATED (Y | N | U) "N"
	DESC CDATA #IMPLIED
	TEIFORM CDATA "EVENT"
>
<!ELEMENT WRITING (#PCDATA)>
<!ATTLIST WRITING
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	WHO IDREF #IMPLIED
	TYPE CDATA #IMPLIED
	SCRIPT IDREF #IMPLIED
	GRADUAL (Y | N | U) #IMPLIED
	TEIFORM CDATA "WRITING"
>
<!ELEMENT SHIFT EMPTY>
<!ATTLIST SHIFT
	ID ID #IMPLIED
	N CDATA #IMPLIED
	LANG IDREF #IMPLIED
	REND CDATA #IMPLIED
	WHO IDREF #IMPLIED
	FEATURE (TEMPO | LOUD | PITCH | TENSION | RHYTHM | VOICE) #REQUIRED
	NEW CDATA "NORMAL"
	TEIFORM CDATA "SHIFT"
>
<!ELEMENT P (#PCDATA | HI | TITLE | GAP)*>
<!ATTLIST P
	ID ID #IMPLIED
	N CDATA #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "P"
>
<!ELEMENT HI (#PCDATA)>
<!ATTLIST HI
	ID ID #IMPLIED
	N CDATA #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "HI"
>
<!ELEMENT TITLE (#PCDATA | HI)*>
<!ATTLIST TITLE
	ID ID #IMPLIED
	N CDATA #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "TITLE"
>
<!ELEMENT TEXT (BODY)>
<!ATTLIST TEXT
	ID ID #IMPLIED
	N CDATA #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "TEXT"
>
<!ELEMENT BODY (P | EVENT | PAUSE | SHIFT | U)+>
<!ATTLIST BODY
	ID ID #IMPLIED
	N CDATA #IMPLIED
	REND CDATA #IMPLIED
	TEIFORM CDATA "BODY"
>
<!--

<!ENTITY % ISOgrk1 PUBLIC
       "ISO 8879:1986//ENTITIES Greek Letters//EN">
%ISOgrk1;

<!ENTITY % ISOlat1 PUBLIC "ISO 8879-1986//ENTITIES Added Latin 1//EN">
%ISOlat1; 

<!ENTITY % ISOlat2 PUBLIC "ISO 8879-1986//ENTITIES Added Latin 2//EN">
%ISOlat2; 

<!ENTITY % ISOnum  
  PUBLIC   "ISO 8879-1986//ENTITIES Numeric and Special Graphic//EN">
%ISOnum;

<!ENTITY % ISOpub  PUBLIC "ISO 8879-1986//ENTITIES Publishing//EN">
%ISOpub; 

<!NOTATION cgm PUBLIC
  'ISO 8632:1987//NOTATION Computer Graphics Metafile//EN' >

<!NOTATION cgmchar PUBLIC
  'ISO 8632-2:1987//NOTATION CGM Character Encoding//EN' >

<!NOTATION jpeg PUBLIC
  'ISO DIS 10918//NOTATION JPEG Graphics Format//EN' >

<!NOTATION tiff PUBLIC
  '-//Aldus Corporation//NOTATION Tagged Image File Format//EN' >

<!NOTATION gif PUBLIC
  '-//Compuserve Information Service//NOTATION Graphics Interchange Format//EN' >

<!NOTATION sgml PUBLIC
  'ISO 8879:1986//NOTATION Standard Generalized Markup Language//EN' >

<!NOTATION wsd  PUBLIC
  '-//TEI P3-1994//NOTATION Writing System Declaration//EN' >
-->
